* {
	padding: 0%;
	margin: 0%;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url("./assets/bacgroundOptioTwo.jpg");
}

#x {
	color: #57C457;
	text-shadow: .1em .1em 0 rgb(52, 67, 116);
	font-size: 40px;
	transform: rotate3d(1, 2.0, 3.0, 20deg);
}

#mayor {
	transform: rotate3d(1, 2.0, 3.0, 30deg);
	font-size: 30px;
	color: #ee2cce;
	text-shadow: .1em .1em 0 rgb(85, 28, 219);
}

#header {
	background: #1a0331;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.30);
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	padding: 10px;
	z-index: 1;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	text-shadow: .1em .1em 0 rgb(147, 202, 45);
}

.higher {
	color: rgb(41, 116, 212);
	font-weight: 800;
}

.instructions {
	display: flex;
	justify-content: center;
	height: auto;
	padding: 10px;
	width: 30%;
	text-shadow: .1em .1em 0 rgb(52, 67, 116);
}

#select-operation {
	flex-direction:row;
	align-items: center;
	align-content: center;
	display: none;
	color: white;
	font-size: 160%;
	background-color: rgba(0, 0, 0, 0.438);
}

.buttons {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.select-option {
	flex-direction:row;
	align-items: center;
	align-content: center;
	display: none;
	color: white;
	font-size: 160%;
	background-color: rgba(0, 0, 0, 0.438);
	position: absolute;
	top: 20%;
	left: 10%;
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	width: 85%;
	display: flex;
	align-self: center;
	
	justify-content: center;
	justify-items: center;
}

.button-option {
	justify-content: center;
	display: flex;
	width: 70%;
	background: #8318ee;
	font-size: 20px;
	line-height: 28px;
	outline: none;
	border: none;
	color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.button-option:hover,
#suma:hover,
#division:hover,
#multiplicacion:hover,
#resta:hover #identificacion:hover {
	background-color: #9336f0;
	transform: scale(1.08);
}

#identificacion,
#multiplicacion {
	background-color: #1aa11a;
}

#resta {
	background-color: #0fbebe;
}

#division {
	background-color: #cf9919;
}

#suma {
	background-color: #f15877;
}
#select-suma{
	display: none;
}
#select-resta{
	display: none;
}
#select-division{
	display: none;
}
#select-multiplicacion{
	display: none;
}
.input{
	border: none;
	outline: none;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
}