* {
	padding: 0%;
	margin: 0%;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	background: #BA76FF;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.30);
	height: 40px;
	color: white;
	display: flex;
	align-items: center;
	padding: 10px;
	z-index: 1;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}
.higher{
	color: rgb(41, 116, 212);
	font-weight: 800;
	font-size: 30;
}
.instructions {
	display: flex;
	align-items: center;
	align-content: center;
	height: auto;
	padding: 10px;
	width: 30%;
}
#select-operation{
	display: none;
}
.select-option {
	position: absolute;
	top: 20%;
	left: 10%;
	background-image: url("./assets/background.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	width: 85%;
	display: flex;
	align-self: center;
	flex-direction: column;
	align-content: center;
	align-items: flex-end;
	justify-content: center;
	justify-items: center;
}

.button-option {
	justify-content: center;
	display: flex;
	width: 30%;
	background: #BA76FF;
	font-size: 20px;
	line-height: 28px;
	outline: none;
	border: none;
	color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.button-option:hover, #suma:hover, #division:hover, #multiplicacion:hover, #resta:hover #identificacion:hover{
	background-color: #9336f0;
	transform: scale(1.08);
}
#identificacion, #multiplicacion{
	background-color: #57C457;
}
#resta{
	background-color: #57C4C4;
}
#division{
	background-color: #DCB458;
}
#suma{
	background-color: #F37F97;
}
