* {
	padding: 0%;
	margin: 0%;
	font-family: Arial, Helvetica, sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body {
	width: 100%;
	max-width: 1600px;
	margin: auto;
}



input[type=number] {
	-moz-appearance: textfield;
}

#x {
	color: #57C457;
	text-shadow: .1em .1em 0 rgb(52, 67, 116);
	font-size: 40px;
	transform: rotate3d(1, 2.0, 3.0, 20deg);
}

#mayor {
	transform: rotate3d(1, 2.0, 3.0, 30deg);
	font-size: 30px;
	color: #ee2cce;
	text-shadow: .1em .1em 0 rgb(85, 28, 219);
}

.logo-header {
	font-size: 2.2rem;
	text-shadow: .1em .1em 0 rgb(8, 8, 8);

}

#header {
	background: #5A64E8;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.30);
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 0px;
	z-index: 1;
	justify-content: space-between;


	display: flex;
	flex-direction: row;

}

.container-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav {
	width: 50%;
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	justify-content: space-around;

}

nav>li {
	text-decoration: none;
	list-style: none;
	font-size: 18px;

}

li {
	list-style: none;
}

nav>li:hover {
	color: #ee2cce;
	transform: scale(1.1);
	cursor: pointer;
}

.higher {
	color: rgb(41, 116, 212);
	font-weight: 800;
}

.instructions {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 5%;
	padding: 10px;
	color: black;
	width: 50%;
	text-shadow: .1em .1em 0 rgba(73, 107, 221, 0.062);
}



.buttons {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.select-option {
	position: absolute;
	top: 260px;
	font-size: 160%;
	/* background-color: rgba(187, 0, 0, 0.219); */
	z-index: 5;
	margin: auto;
	height: 25rem;
	width: 85%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}
.button-clear{
	justify-content: space-evenly;
	display: flex;
	width: 30%;
	background: #000000;
	font-size: 20px;
	text-align: center;
	outline: none;
	border: none;
	color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
.button-option {
	justify-content: center;
	display: flex;
	width: 70%;
	background: #8318ee;
	font-size: 20px;
	line-height: 28px;
	outline: none;
	border: none;
	color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.button-option:hover,
#suma:hover,
#division:hover,
.button-clear:hover,
#multiplicacion:hover,
#resta:hover #identificacion:hover {
	background-color: #9336f0;
	transform: scale(1.08);
}

#identificacion,
#multiplicacion {
	background-color: rgb(248, 38, 255);
}

#resta,
#clearResta {
	background-color: #74CDF5;
}

#division {
	background-color: #F27A5E;
}

#suma {
	background-color: #CBDB60;
}

#select-suma {
	display: none;
}

#select-resta {
	display: none;
}

#select-division {
	display: none;
}

#clear {
	background-color: #F27A5E;
}

#select-multiplicacion {
	display: none;
}

#select-operation {
	display: none;
}

.input {
	border: none;
	outline: none;
	height: 30px;
	width: 15rem;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: right;
	font-size: 30px;
	border: 7px;
	border: gray 1px solid;
}
.section-inputs{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%;
}
.input-double{
	border: none;
	outline: none;
	height: 30px;
	width: 35%;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: right;
	font-size: 30px;
	border: 7px;
	border: gray 1px solid;
}
#section-suma,
#section-resta,
#section-multiplicacion,
#section-division,
#section-numeros-mayores-menores {
	display: none;
}

.display {
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: space-evenly;
	padding: 5px 10px;
	height: 5.2rem;
	width: 95%;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 10px;
	border: grey 1px solid;
	color: black;
}

.text-result {
	font-size: 20px;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.content-display {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 70%;
}

footer {
	padding: 10px;
	align-items: center;
	background-color: #000000;
	position: absolute;
	bottom: 0;
	width: 98.2%;
	color: white;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}